<!DOCTYPE html>
<html lang="en">


<head>
	<%- include("../partials/head.ejs") %>
	<link rel="stylesheet" href="/css/modal.min.css">
	<link rel="stylesheet" href="/css/main.min.css">

</head>

<body>
	<div class="wrapper">
		<header class="header">
			<%- include("../partials/header.ejs") %>
		</header>

		<main class="main">
			<div class="main__body">
				<div class="test">
					<div class="test__subjects">
						<a class="test__item" href="#">Українська мова і література</a>
						<a class="test__item" href="/ukr-lang">Українська мова</a>
						<a class="test__item" href="/math">Математика</a>
						<a class="test__item" href="#">Історія України</a>
						<a class="test__item" href="#">Географія</a>
						<a class="test__item" href="#">Біологія</a>
						<a class="test__item" href="#">Фізика</a>
						<a class="test__item" href="#">Хімія</a>
						<a class="test__item" href="/english-lang">Англійська мова</a>
						<a class="test__item" href="#">Німецька мова</a>
						<a class="test__item" href="#">Французька мова</a>
						<a class="test__item" href="#">Іспанська мова</a>
					</div>
				</div>

				<div class="main__text">
					<p>Сайт для проходження тестів ЗНО онлайн та підготовки майбутніх абітурієнтів для проходження зовнішнього
						незалежного оцінювання створений провідним українським освітнім інтернет-ресурсом Освіта.ua.
					</p>

					<p>На сайті «ЗНО онлайн» розміщені тести, що складали абітурієнти під час зовнішнього незалежного оцінювання
						2009-2020 років, а також варіанти тестів, що пропонувались вступникам до вищих навчальних закладів України
						під час
						<a class="main__text-link" href="#">пробного зовнішнього незалежного оцінювання</a> 2009-2020 років.
					</p>

					<p>Спосіб виконання всіх тестових завдань у запропонованих на сайті тестах максимально наближений до реальних
						тестів, а форма надання відповіді відповідає виду, що пропонується абітурієнтам у бланку відповідей під час
						проходження реальних тестів ЗНО.
					</p>

					<p>Після виконання тестових завдань кожного тесту надаються правильні відповіді на всі завдання та
						розраховується
						<a class="main__text-link" href="#">результат у тестових та рейтингових балах</a>, також визначається час
						витрачений на виконання тесту.
					</p>

					<p>Для кожного предмету ви можете відкрити повний список всіх тестових завдань зовнішнього незалежного
						оцінювання. У цьому варіанті проходження ЗНО онлайн ви зможете отримати правильну відповідь на кожне
						завдання відразу після його виконання.
					</p>

					<p>Для отримання додаткової інформації про розрахунок тестових та рейтингових балів, порядок оцінювання
						тестових завдань, час, що надається для виконання тестів ви можете скористатись розділом <a
							class="main__text-link" href="#">«Довідка»</a>.
					</p>

					<p>Більше інформації про проведення зовнішнього оцінювання ви можете отримати на сайті <a
							class="main__text-link" href="#">Освіта.ua</a>.
					</p>

				</div>
			</div>
			<div class="main__advertising">
				Реклама
			</div>

		</main>

		<%- include("../partials/footer.ejs") %>
	</div>
	<script defer type="module" src="/script/pages/main.js"></script>
</body>

</html>