
.test-name {
  padding: 24px 20px;
  background-color: #35866e;
  &__title {
    color: #fff;
    font-size: 1.5714285714rem;
    line-height: 118.1818181818%;
  }

  &__pre-title {
    font-size: 1.1428571429rem;
    line-height: 162.5%;
    color: #b2e2d3;
  }
}


.category__links:not(:last-child) {
  margin-bottom: 50px;
}

.categories {
  margin-top: 25px;
  
  &__name {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.1428571429rem;
  }
  &__link {
    display: block;
    color: #1a5785;
    line-height: 120%;
    font-size: 1.0714285714rem;
    &:hover {
      text-decoration: underline dotted;
    }
  }
  
  &__link span {
    font-weight: 700;
  }
  &__link:not(:last-child) {
    margin-bottom: 12px;
  }
}



@media (max-width: 425px) {
  .test-name {
    padding: 16px 10px;
    &__title {
      font-size: 1.2rem;
    }

    &__pre-title {
      font-size: .9rem;
    } 
  }
  
  .categories {  
    margin-top: 25px;

    &__name {
      font-size: 1rem;
    }
    &__link {
      font-size: .8rem;
    }
  }
}